*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(fon.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.pos-game{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 0;
}
.game{
    width: 400px; 
    background-color: white;
    border-radius: 20px;
    height: 100%;
    border: none;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.auth{
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7) ;
    top:0;
    left: 0; 
    visibility: hidden;
    height: 100vh;
}
.auth:target{
    opacity: 1;
    visibility: visible;
}
.auth-pos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    border: none;
    width: 200px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    height: 200px;   
}
input{
    border: none;
    border-radius: 20px;
    padding-left: 10px ;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(182, 211, 211); 
}
.bx-user-circle{
    font-size: 56px;
}
.name-player{
    font-size: 24;
}
.pos-btn{
    margin-top: 10px;
}
.auth-btn{
    text-decoration: none;
    padding:5px;
    cursor: pointer;
    width: 100px;
    height: 40px; 
    background-color: rgb(36, 250, 150);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 20px
}
.pos-bal{
    text-align: center;
}
.bx{
    margin: 30px 0 0;
}
.start{
    margin:60px 0 0;
    text-align: center;
}
.start-game{  
    text-decoration: none;
    padding:5px;
    cursor: pointer;
    width: 300px;
    height: 30px; 
    background-color: rgb(36, 250, 150);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 60px; 
}
.start:hover{
    transition: 0.3s ease;   
}
.pos-start{
    display: flex;
    justify-content: center;
}
.auth-btn:hover{
    transition: 0.3s ease;
    transform: scale(1.2);
}
.comp{
    margin: 20px;
    padding: 20px;
    width: 120px;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    border: none;
    background: linear-gradient(120deg, rgb(151, 196, 164) 0%, rgba(9,121,97,1) 21%, rgba(0,212,255,1) 100%);
}
.result{
    display: flex;
    justify-content: center;

}
.content{
    text-align: center;
    padding: 20px;
}
